[submodule "lib/Uilab-Comp"]
	path = lib/Uilab-Comp
	url = https://gitee.com/cloudlakenet/uilab-comp.git
[submodule "lib/gongsconfigbfui5"]
	path = lib/gongsconfigbfui5
	url = https://gitee.com/cloudlakenet/gongsconfigbfui5.git
