.yearSelectBox {
  height: 100%;
  background: linear-gradient(270deg, rgba(30, 91, 248, 0.2) 0%, rgba(36, 84, 183, 0.5) 100%);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  margin-right: 10px;
  box-sizing: border-box;

  .valueUnit {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .value {
      font-size: 2.66em;
      font-weight: bold;
      line-height: 1.2em;
    }

    .unit {
      font-size: 1.96em;
      line-height: 1.2em;
    }

    .description {
      font-size: 0.98em;
    }
  }

}
