.container {
  background-color: #f0f0f0;
  /* padding: 20px; */
  width: 100%;
  height: 100%;
}

.layout {
  background-color: #ffffff;
  border: 1px solid #ccc;
  /* padding: 10px; */
}

.demo{
  /* border: 1px solid #ccc; */
  padding: 0 10px 10px 10px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
}

.loadingBox{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
