@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
  --ant-primary-color: #0854a0;
  --ant-primary-color-hover: #208bf7;
  --ant-primary-color-active: #72b5f8;
  --ant-primary-color-outline: rgba(24, 144, 255, 0.2);
  --ant-primary-1: #e6f7ff;
  --ant-primary-2: #bae7ff;
  --ant-primary-3: #91d5ff;
  --ant-primary-4: #69c0ff;
  --ant-primary-5: #d1e8ff;
  --ant-primary-6: #0854a0;
  --ant-primary-7: #0854a0;
  --ant-primary-8: #32363a;
  --ant-primary-color-deprecated-l-35: #cbe6ff;
  --ant-primary-color-deprecated-l-20: #7ec1ff;
  --ant-primary-color-deprecated-t-20: #46a6ff;
  --ant-primary-color-deprecated-t-50: #8cc8ff;
  --ant-primary-color-deprecated-f-12: rgba(24, 144, 255, 0.12);
  --ant-primary-color-active-deprecated-f-30: rgba(230, 247, 255, 0.3);
  --ant-primary-color-active-deprecated-d-02: #dcf4ff;
  --ant-success-color: #52c41a;
  --ant-success-color-hover: #73d13d;
  --ant-success-color-active: #389e0d;
  --ant-success-color-outline: rgba(82, 196, 26, 0.2);
  --ant-success-color-deprecated-bg: #f6ffed;
  --ant-success-color-deprecated-border: #b7eb8f;
  --ant-error-color: #ff4d4f;
  --ant-error-color-hover: #ff7875;
  --ant-error-color-active: #d9363e;
  --ant-error-color-outline: rgba(255, 77, 79, 0.2);
  --ant-error-color-deprecated-bg: #fff2f0;
  --ant-error-color-deprecated-border: #ffccc7;
  --ant-warning-color: #faad14;
  --ant-warning-color-hover: #ffc53d;
  --ant-warning-color-active: #d48806;
  --ant-warning-color-outline: rgba(250, 173, 20, 0.2);
  --ant-warning-color-deprecated-bg: #fffbe6;
  --ant-warning-color-deprecated-border: #ffe58f;
  --ant-info-color: #0854a0;
  --ant-info-color-deprecated-bg: #e6f7ff;
  --ant-info-color-deprecated-border: #91d5ff;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-family: "72-Light", "72-Lightfull", "72", "72full", Arial, Helvetica, sans-serif !important;
}

#uilab-ObjectPage-header {
  .ant-form-item {
    margin-bottom: 0;
  }
}

#uilab-SmartFilterbar {

  .ant-col-6,
  .ant-col-8,
  .ant-col-12 {
    .ant-form-item {
      margin-bottom: 0;
      height: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .ant-col-6,
  .ant-col-8,
  .ant-col-offset-12 {
    margin-bottom: 24px;
  }
}


.ant-pro-grid-content.wide {
  max-width: calc(100% - 24px) !important;
}

ul,
ol {
  list-style: none;
}

//自定义修改样式
.ant-form-item-label>label {
  color: #6a6d70 !important;
  font-family: "72", "72full", Arial, Helvetica, sans-serif !important;
}

.ant-card-body:has(table) {
  padding: 0 !important;

  .ant-pro-table .ant-pro-card-border {
    border: none;
    border-top: 1px solid #f0f0f0;
  }
}

.ant-table-cell {
  max-width: 30px !important;
}

.ant-layout-header {
  background-color: #354a5f;
}

.ant-page-header-footer .ant-tabs .ant-tabs-tab {
  font-size: 14px !important;
}

.ant-btn {
  border-radius: 5px !important;
}

#uilab-ObjectPage-header {
  .ant-page-header-heading-title {
    font-weight: normal;
    color: var(--ant-primary-8);
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .ant-form-item-control-input-content {
    color: var(--ant-primary-8)
  }
}

.ant-tabs-top>.ant-tabs-nav,
.ant-tabs-bottom>.ant-tabs-nav,
.ant-tabs-top>div>.ant-tabs-nav,
.ant-tabs-bottom>div>.ant-tabs-nav {
  margin-bottom: 0 !important;
}

#ListReport .ant-pro-card-border {
  border: none !important;
  .ant-pro-card-body {
    padding: 0 !important;
  }
}

#uilab-ObjectPage-icon::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 1px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: linear-gradient(to left, #0854a0, rgba(8, 84, 160, 0)) !important;
  right: 100%;
}

#uilab-ObjectPage-icon::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 1px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: linear-gradient(to right, #0854a0, rgba(8, 84, 160, 0)) !important;
  left: 100%;
}

.btn-icon:hover {
  .icon {
    color: var(--ant-primary-color-hover) !important;
  }
}

.btn-icon:active {
  .icon {
    color: var(--ant-primary-color-active) !important;
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}