@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "72-Light", "72-Lightfull", "72", "72full", Arial, Helvetica, sans-serif !important;
}

#uilab-ObjectPage-header {
  .ant-form-item {
    margin-bottom: 0;
  }
}

#uilab-SmartFilterbar {

  .ant-col-6,
  .ant-col-8,
  .ant-col-12 {
    .ant-form-item {
      margin-bottom: 0;
      height: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .ant-col-6,
  .ant-col-8,
  .ant-col-offset-12 {
    margin-bottom: 24px;
  }
}


.ant-pro-grid-content.wide {
  max-width: calc(100% - 24px) !important;
}

ul,
ol {
  list-style: none;
}

//自定义修改样式
.ant-form-item-label>label {
  color: #6a6d70 !important;
}

.ant-card-body:has(table) {
  padding:0 !important;
  .ant-pro-table .ant-pro-card-border{
    border:none;
    border-top:1px solid #f0f0f0;
  }
}



@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}